html, body {
	background-color: #7796cd;
}

.game-console {
	position: relative;
	width: 400px;
	height: 400px;
	margin: 20px auto 0 auto;
}

.quarter {
	position: absolute;
	width: 50%;
	height: 50%;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
	z-index: 1;
}

.quarter-red {
	top: 0;
	left: 0;
	background-color: #FF0000;
	border-top: 2px solid #000;
	border-left: 2px solid #000;
	border-bottom: 2px solid #000;
	border-radius: 100% 0 0 0;
}

.quarter-red:hover {
	background-color: #FF5E5E;
}

.quarter-yellow {
	top: 0;
	right: 0;
	background-color: #FFDA00;
	border-top: 2px solid #000;
	border-right: 2px solid #000;
	border-left: 2px solid #000;
	border-radius: 0 100% 0 0;
}

.quarter-yellow:hover {
	background-color: #FFE85E;
}

.quarter-green {
	bottom: 0;
	left: 0;
	background-color: #00C718;
	border-bottom: 2px solid #000;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-radius: 0 0 0 100%;
}

.quarter-green:hover {
	background-color: #5AF46D;
}

.quarter-blue {
	bottom: 0;
	right: 0;
	background-color: #301BB4;
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
	border-top: 2px solid #000;
	border-radius: 0 0 100% 0;
}

.quarter-blue:hover {
	background-color: #816FF3;
}

.cutout {
  width: 50%;
  height: 50%;
  background-color: white;
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 50%;
	border: 2px solid #000;
  pointer-events: none;
	z-index: 2;
}

.title {
	margin: 50px 0 30px 20px;
	font-family: 'Ultra', serif;
}

.credit {
	margin-top: 20px;
	color: #576A94;
	text-align: center;
	font-size: 90%;
}

.credit a {
	color: #B3C8F1;
}
